body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card{
  border: 1px grey solid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  -webkit-transition: .3s;
  transition: .3s;
  width: 80%;
  margin: 10px auto;
  background-color: #fff;
  padding:10px;
  display: flex;
  justify-content: space-between; 
}
.container{
  width: 400px;
    margin: auto;
}
.pokemon-name{
  text-transform: capitalize;
}
.pokemon-idx{
  color: grey;
}